<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <form [formGroup]="cityForm" class="col-lg-6 offset-lg-3" autocomplete="off" (ngSubmit)="searchCity()">
        <div class="row justify-content-center mt-2">
          <input placeholder="Search City" (keydown)="resetCity();" type="text" class="form-control" formControlName="cityName">
        </div>
        <div class="col text-center mt-2">
        <button [disabled]="cityForm.invalid || citySearched" type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="locationFound" class="row mt-4">
      <div class="col-md-12">
          <table class="table tableCenter table-responsive-md table-bordered">
            <thead>
            <tr>
              <th>City</th>
              <th>Latitude</th>
              <th>Logtitude</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{cityForm.value.cityName| titlecase }}</td>
              <td>{{geoCodeResponse.geometry.location.lat}}</td>
              <td>{{geoCodeResponse.geometry.location.lng}}</td>
            </tr>
            </tbody>
          </table>
      </div>
  </div>

  <div *ngIf="!locationFound && isError" class="row mt-4">
    <div class="col-md-12 text-center alert alert-danger alert-dismissible">
      <h6>Error Occured while getting location details</h6>
    </div>
  </div>

  <div *ngIf="!isError && !locationFound && citySearched" class="row mt-2">
    <div class="col-md-12 text-center alert alert-danger alert-dismissible">
      <h6>City detail not found</h6>
    </div>
  </div>


</div>
