<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <form [formGroup]="cityForm" class="col-lg-6 offset-lg-3" autocomplete="off" (ngSubmit)="searchCity()">
        <div class="row justify-content-center mt-2">
          <input placeholder="Search City" (keydown)="resetCity();" type="text" class="form-control" formControlName="cityName">
        </div>
        <div class="col text-center mt-2">
          <button [disabled]="cityForm.invalid || citySearched" type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div>
    {{cityName}}
  <app-result [cityName]="cityName"></app-result>
  </div>
</div>
